<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <httpErrors errorMode="Detailed" />

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <caching enabled="true">
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>

    <rewrite>
      <rules>

        <rule name="Legacy Register Redirect" stopProcessing="true">
          <match url="^register/?$" />
          <action type="Redirect" url="/account/signup" redirectType="Permanent" />
        </rule>

        <rule name="Legacy Showroom Redirect" stopProcessing="true">
          <match url="^showroom/?$|^showrooms\.aspx$" />
          <action type="Redirect" url="/showrooms" redirectType="Permanent" />
        </rule>

        <rule name="Legacy Offer Redirect" stopProcessing="true">
          <match url="^offer/([^/]+)/?$" />
          <action type="Redirect" url="/offers/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Legacy Product Specs Redirect" stopProcessing="true">
          <match url="^ProductsSpecs/([^/]+)/?$" />
          <action type="Redirect" url="/product/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Legacy Product Specs List Redirect" stopProcessing="true">
          <match url="^ProductsSpecs\.aspx$" />
          <action type="Redirect" url="/products" redirectType="Permanent" />
        </rule>

        <rule name="Legacy Cart Redirect" stopProcessing="true">
          <match url="^ShoppingCartView\.aspx$|^AddToShoppingCart\.asp$" />
          <action type="Redirect" url="/checkout" redirectType="Permanent" />
        </rule>

        <rule name="API Reverse Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:5000/api/{R:1}" />
        </rule>

        <rule name="Sitemap Proxy" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <action type="Rewrite" url="http://localhost:5000/sitemap.xml" />
        </rule>

        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/sitemap\.xml$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />

      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />

      <remove fileExtension=".avif" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />

      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

  </system.webServer>
</configuration>
